- var title = '扇贝，知道你在改变'
- var bodyClass = ''

block vars

doctype html
html
    head
        meta(charset="utf-8")
        title= title
        meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
        meta(name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width")
        block metas
        link(rel='stylesheet' href= baydnPath('/iconbay/v0.1.3/iconbay.css'))
        block stylesheets

    body(class= bodyClass)
        block body
        script(src= baydnPath('/jquery/v3.1.1/jquery.min.js'))
        block javascripts
